@import "./fonts.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Helpers */
.hide {
  display: none !important;
  visibility: hidden;
  height: 0 !important;
  transform: scale(0) !important;
}

.pressed {
  background-color: #03622b !important;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;

  background-color: #222;
  overflow: clip;
}

@media (max-width: 640px) {
  html {
    font-size: 50%;
    overflow: hidden;
  }

  .title {
    font-size: 3rem !important;
  }

  .title::before {
    height: 4rem !important;
    width: 15rem !important;
    top: 0.5rem !important;
  }

  .hightlight {
    font-size: 4rem !important;
  }

  .main-field {
    height: 40rem !important;
    width: 40rem !important;
  }

  .main-field::before {
    height: 42rem !important;
    width: 42rem !important;
    transform: translate(
      -1rem,
      -1rem
    ) !important;
  }

  .control-buttons-container {
    top: 80vh !important;
  }

  .control-buttons-container::before {
    transform: translate(
      -0.4rem,
      -0.3rem
    ) !important;
  }

  .button--open-popup {
    top: 90vh !important;
    left: calc(50vw - 55px) !important;
  }

  .options-popup {
    top: 73vh !important;
    left: 6.4rem !important;
    z-index: 1 !important;
  }
}

/* Title */

.title {
  position: absolute;
  top: 2rem;

  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 3px;
  color: #dfdfdf;
}

.title::before {
  position: absolute;
  content: "";
  display: block;
  height: 5rem;
  width: 18rem;
  background-color: #03622b;
  transform: rotate(4deg);
  top: 0.2rem;
  border-radius: 5px;

  z-index: -1000;
}

.hightlight {
  color: #03622b;
  font-size: 5rem;
}

/* Main Field  */

.main-field::before {
  position: absolute;
  content: "";
  display: block;
  height: 65rem;
  width: 65rem;
  background-color: rgba(
    170,
    170,
    170,
    0.18
  );

  border-radius: 2rem;

  transform: translate(
    -2.5rem,
    -2.5rem
  );
  z-index: -1000;
}

.main-field {
  /* position: relative; */

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  width: 60rem;
  height: 60rem;
  background-color: transparent;
  overflow: hidden;

  border-radius: 1.5rem;
  border: 1px solid #aaa;

  margin-bottom: 4rem;
}

.fields-cell {
  background-color: #222;
  border: 1px solid #aaa;
}

.pressed-cells {
  background-color: #05a146;
}

/* Control Buttons */

.control-buttons-container {
  position: absolute;
  display: flex;
  gap: 1rem;
  top: 90vh;
}

.control-buttons-container::before {
  position: absolute;
  content: "";
  display: block;
  height: 5rem;
  width: 22rem;
  background-color: rgba(
    170,
    170,
    170,
    0.18
  );
  transform: translate(-8%, -12%);
  border-radius: 5px;

  z-index: -1000;
}

.button {
  color: #aaa;
  font-weight: 800;

  outline: none;
  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 1rem 2rem;
  background: transparent;

  transition: all 0.06s linear;
  font-family: inherit;
}

.button:hover {
  background-color: #aaa;
  color: #222;
}

.button:active {
  transform: scale(0.99);
}

/* Options button */

.button--open-popup {
  position: absolute;
  top: 3rem;
  left: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #03622b;
  border: 2px solid #03622b;
}

.button--open-popup:hover {
  background-color: #03622b;
  color: #dfdfdf;
}

/* Popaup window */

.options-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 3rem;
  left: 3rem;

  background-color: #222;
  padding: 2rem 4rem;
  border-radius: 1rem;
  border: 2px solid #aaa;
}

.button--close-popup {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  left: 100%;
  transform: translate(-2rem, -0.5rem);

  width: 2rem;
  height: 1rem;
}

.button--close-popup:active {
  transform: scale();
}

.slider-label {
  color: #aaa;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  font-size: 1.4rem;

  align-self: center;
  margin-bottom: 2rem;
}

.rangevalue {
  color: #03622b;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.8rem;

  align-self: center;
  margin-bottom: -0.5rem;
}

.slider {
  -webkit-appearance: none;
  width: 30rem;
  height: 0.6rem;
  border-radius: 100rem;
  outline: none;
  background: rgba(255, 255, 255, 0.6);

  margin-bottom: 4rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #03622b;
  height: 1.2rem;
  width: 2rem;
  border-radius: 5px;
}

.button--apply {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  font-size: 1.6rem;
  letter-spacing: 4px;
  text-transform: uppercase;

  width: 12rem;

  color: #03622b;
  border: 2px solid #03622b;
}

.button--apply:hover {
  background-color: #03622b;
  color: #dfdfdf;
}
